scipy==1.5.0
numpy==1.19.0
Werkzeug==1.0.1
music21==5.7.2
Flask==1.1.2
Flask_Session==0.3.2
Flask_PyMongo==2.3.0
Keras==2.3.1
Flask_Cors==3.0.8
MIDIUtil==1.2.1
resampy==0.2.2
SoundFile==0.10.3.post1
vamp==1.1.0
jams==0.3.4
matplotlib==3.3.0
noisereduce==1.1.0
pydub==0.24.1
